.navH1{
    color: white;
    text-align: center;
    background-color: grey;
   
}

/* .h3{
    display: flex;
    justify-content: right;
} */

.display-1{
    text-align: center;

}

.weather-box {
    padding: 0px 6px;
}